.container {
  text-align: center;
  margin-top: 10px;
}

.calc-container {
  border: 1px solid #333;
  border-radius: 2px;
  display: inline-block;
  background-color: #ddd;
}

.calc-button {
  width: 50px;
  min-height: 40px;
  color: #333;
  background-color: #ccc;
}

.width-2 {
  width: 100px !important;
}

.calc-button-op {
  color: #fff;
  background-color: orange;
}

.activeOp {
  background-color: rgb(255, 85, 0);
}

.calc-button-top {
  color: #333;
  background-color: #aaa;
}

.answer-box {
  background-color: #333;
  color: #fff;
  text-align: right;
  min-height: 90px;
  width: 210px;
  font-size: 2em;
}


button {
  border-radius: 50%;
  margin: 1px;
}